# Bookstore Database Analysis

SQL queries analyzing an online bookstore database containing information about books, authors, customers, orders, and reviews.

In [ ]:
import pandas as pd
%load_ext sql

In [ ]:
%sql sqlite:///bookstore.sqlite

## Query 1: Top 5 Most Popular Books

Retrieve the top 5 most popular books based on order count, ordered by author name in descending order.

In [ ]:
%%sql q1_result <<
SELECT 
    b.title,
    a.name AS author_name,
    COUNT(oi.order_item_id) AS order_count
FROM books b
JOIN authors a ON b.author_id = a.author_id
JOIN order_items oi ON b.book_id = oi.book_id
GROUP BY b.book_id, b.title, a.name
ORDER BY order_count DESC, author_name DESC
LIMIT 5

## Query 2: Total Revenue by Book

Calculate the total revenue generated by each book, ordered by revenue in descending order.

In [ ]:
%%sql q2_result <<
SELECT 
    b.title,
    SUM(oi.quantity * oi.price) AS total_revenue
FROM books b
JOIN order_items oi ON b.book_id = oi.book_id
GROUP BY b.book_id, b.title
ORDER BY total_revenue DESC

## Query 3: Customer Purchase Summary

List customers with their total number of orders and total amount spent, filtered to customers who have spent more than $50, ordered by total amount in descending order.

In [ ]:
%%sql q3_result <<
SELECT 
    c.name AS customer_name,
    COUNT(DISTINCT o.order_id) AS total_orders,
    SUM(oi.quantity * oi.price) AS total_spent
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN order_items oi ON o.order_id = oi.order_id
GROUP BY c.customer_id, c.name
HAVING SUM(oi.quantity * oi.price) > 50
ORDER BY total_spent DESC

## Query 4: Average Book Rating by Author

Calculate the average rating for each author's books, filtered to authors with an average rating of 4 or higher, ordered by average rating in descending order.

In [ ]:
%%sql q4_result <<
SELECT 
    a.name AS author_name,
    AVG(r.rating) AS average_rating
FROM authors a
JOIN books b ON a.author_id = b.author_id
JOIN reviews r ON b.book_id = r.book_id
GROUP BY a.author_id, a.name
HAVING AVG(r.rating) >= 4
ORDER BY average_rating DESC

## Query 5: Recent Book Reviews

Retrieve the first 5 book reviews with book title, author name, rating, and review text.

In [ ]:
%%sql q5_result <<
SELECT 
    r.review_id,
    b.title AS book_title,
    a.name AS author_name,
    r.rating,
    r.review_text
FROM reviews r
JOIN books b ON r.book_id = b.book_id
JOIN authors a ON b.author_id = a.author_id
ORDER BY r.review_id ASC
LIMIT 5